@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.navbar {
  position: absolute;
  z-index: 10;
  width: 100%;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 4.13rem;
  padding-block-start: 4.68rem;
}
.navbar ul {
  display: none;
  justify-content: center;
  gap: 3.06rem;
}
.navbar ul a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  transition: 0.3s ease-in-out;
}
.navbar ul a:hover {
  color: #ffffff;
}
.navbar ul a.active {
  color: #ffffff;
}
.navbar ul a.active::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
}
.navbar ul a::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  transition: 0.3s ease-in-out;
  left: 0;
}
.navbar ul a:hover::after {
  width: 100%;
}
.navbar .nav--icons {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.navbar .nav--icons .nav--icon {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  font-size: 1.2rem;
  transition: 0.4s ease-in-out;
}
.navbar .nav--icons .nav--icon span {
  position: absolute;
  content: "";
  right: -1rem;
  top: -25%;
  background: #d62828;
  border-radius: 50%;
  padding: 0rem 0.4375rem 0.0625rem 0.4375rem;
  font-size: 0.9rem;
  width: 1.5rem;
  height: 1.5rem;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}
.navbar .nav--icons .nav--icon:hover {
  background-color: #d62828;
  border-color: transparent;
}
.navbar .nav--baricon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
  position: relative;
}
.navbar .nav--baricon > * {
  width: 2.375rem;
  height: 3px;
  background-color: #ffffff;
  border-radius: 0.6rem;
  transition: all 0.4s ease-in-out;
}
.navbar .nav--baricon.menu-open > * {
  position: absolute;
  top: 0;
  right: 0;
}
.navbar .nav--baricon.menu-open > *:nth-of-type(1) {
  transform: rotate(45deg);
}
.navbar .nav--baricon.menu-open > *:nth-of-type(2) {
  transform: rotate(-45deg);
}

@media (min-width: 1024px) {
  .navbar .container {
    padding-inline: 3.12rem;
    padding-block-start: 4.18rem;
  }
  .navbar .container ul,
  .navbar .container .nav--icons {
    display: flex;
  }
}
.mobileMenu {
  width: 100%;
  height: 100%;
  background-color: #1d1d1d;
  position: fixed;
  top: -100%;
  transform: skewY(-5deg);
  transition: 0.4s ease-in-out;
  transform-origin: top left;
  display: flex;
  align-items: center;
}
.mobileMenu.active {
  transform: none;
  top: 0;
}
.mobileMenu ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 3;
}
.mobileMenu ul a {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  transition: 0.3s ease-in-out;
  color: rgba(255, 255, 255, 0.5);
}
.mobileMenu ul a.active {
  color: #ffffff;
}
.mobileMenu ul a.active::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
}
.mobileMenu ul a::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  transition: 0.3s ease-in-out;
  left: 0;
}
.mobileMenu ul a:hover::after {
  width: 100%;
}

.banner {
  padding: 1.56rem 1.6rem 0 1.6rem;
}
.banner .hero-banner {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), url("../../../../public/images/banner.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .hero-banner .hero--content {
  text-align: center;
}
.banner .hero-banner .hero--content .content {
  width: 70%;
  margin: auto;
}
.banner .hero-banner .hero--content .content h2 {
  margin-bottom: 1.56rem;
  font-size: 5rem;
  font-weight: 700;
}
.banner .hero-banner .hero--content .content p {
  font-size: 1.25rem;
  font-weight: 500;
  width: 70%;
  margin: auto;
}
.banner .hero-banner .hero--content .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2.625rem;
  border-radius: 1.625rem;
  background-color: #d62828;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 3.25rem;
}

@media screen and (max-width: 1024px) {
  .banner .hero-banner .hero--content .content {
    width: 90%;
  }
  .banner .hero-banner .hero--content .content h2 {
    font-size: 3.5rem;
  }
  .banner .hero-banner .hero--content .content p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1300px) {
  .banner .hero-banner .hero--content .content h2 {
    font-size: 4rem;
  }
  .banner .hero-banner .hero--content .content p {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 800px) {
  .banner .hero-banner .hero--content .content {
    width: 100%;
  }
  .banner .hero-banner .hero--content .content h2 {
    font-size: 3rem;
  }
  .banner .hero-banner .hero--content .content p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 450px) {
  .banner .hero-banner .hero--content .content {
    width: 100%;
  }
  .banner .hero-banner .hero--content .content h2 {
    font-size: 2.3rem;
  }
  .banner .hero-banner .hero--content .content p {
    font-size: 0.75rem;
    width: 95%;
  }
}
@font-face {
  font-family: "Fiber";
  src: url(./fonts/fibre-font.otf);
}
body {
  font-family: "Poppins", sans-serif;
  background-image: url("./images/wallpaper.webp");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

html {
  font-size: 14px;
}

h2,
h3 {
  font-family: "Fiber";
}

a {
  color: #ffffff;
  text-decoration: none;
}

.container {
  padding-inline: 0.62rem;
  padding-block: 1.6rem;
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 16px;
  }
  .container {
    padding-inline: 1.62rem;
    padding-block: 1.56rem;
  }
}/*# sourceMappingURL=App.css.map */